@page "/Login"
@layout EmptyLayout

<div class="d-flex algin-center" style="height:calc(100% - 96px)">
    <MCard Width=510 Height=680 Class="mx-auto my-auto" Flat>
        <div style="height:60px;"></div>
        <div class="mt-2 mx-auto text-center" style="width:420px;">
            <MAvatar Size=80>
                <MImage Src="/img/avatar/9.svg">
                </MImage>
            </MAvatar>
            <h5 class="mt-2 mb-12">欢迎来到Witeem博客基地! 👋</h5>
            <MForm>
                <MTextField @bind-Value="_account"
                            Label="Account"
                            Placeholder="Account"
                            Outlined
                            HideDetails="@("auto")">
                </MTextField>
                <MTextField @bind-Value="_passwd"
                            Class="mt-10"
                            Label="Password"
                            Placeholder="Password"
                            Type="@(_show ? "text" : "password")"
                            AppendIcon="@(_show ? "mdi-eye" : "mdi-eye-off")"
                            OnAppendClick="()=>_show = !_show"
                            Outlined
                            HideDetails="@("auto")">
                </MTextField>
            </MForm>
            <span class="d-flex justify-end mt-1 text-caption hover-pointer" style="position:relative">
                @*@onclick=@(()=>Navigation.NavigateTo(Navigation.BaseUri+ForgotPasswordRoute))*@
                忘记密码?
            </span>
            @if (!_isPass)
            {
                <span class="justify-end mt-1 text-caption hover-pointer error--text" style="position:absolute; left:calc(50% - 62px)">
                    @(_verifyMsg)
                </span>
            }
            <MButton Class="mt-11 rounded-4 text-btn white--text" Height=46 Width=340 Color="primary" Loading="_loading" OnClick="OnLogin">Login</MButton>

            <div class="my-6">
                <span class="text-btn">没有基地账号? &nbsp;</span>
                <span class="primary--text hover-pointer" @onclick="@(()=>_navigation.NavigateTo(_navigation.BaseUri + "/Register"))">注册</span>
            </div>
            <div class="block-center">
                <div style="height:0.5px;width:152px;" class="neutral-lighten-5"></div>
                <span class="text-caption mx-4">第三方登录</span>
                <div style="height:0.5px;width:152px;" class="neutral-lighten-5"></div>
            </div>
            <div class="mt-4">
                <MTooltip Bottom>
                    <ActivatorContent>
                        <MIcon Size=24 Color="neutral-lighten-2" OnClick="()=>{}" @attributes="@context.Attrs">fab fa-github</MIcon>
                    </ActivatorContent>
                    <ChildContent>
                        <span>GitHub</span>
                    </ChildContent>
                </MTooltip>
            </div>
        </div>
    </MCard>
</div>

<MFooter Padless Height=96 Style="background:transparent;">
    <MRow Justify="JustifyTypes.Center">
        <a href="https://beian.miit.gov.cn/" target="_blank" class="neutral-lighten-3--text" style="text-decoration:none;font-size:14px;">粤ICP备2022003323号-1</a>
    </MRow>
</MFooter>
